/* || General styles */
@font-face {
  font-family: 'Josefin Sans';
  font-weight: 400;
  src: local(''),
       url('fonts/josefin-sans-v16-latin-regular.woff2') format('woff2'),
       url('fonts/josefin-sans-v16-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 600;
  src: local(''),
       url('fonts/josefin-sans-v16-latin-600.woff2') format('woff2'),
       url('fonts/josefin-sans-v16-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  src: local(''),
       url('fonts/josefin-sans-v16-latin-700.woff2') format('woff2'),
       url('fonts/josefin-sans-v16-latin-regular.woff') format('woff');
}

* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
 }

body {
  font-family: 'Josefin Sans';
  letter-spacing: 0.05em;
}

/* || Index */
section {
  padding: 3em;
  max-width: 60em;
  margin: 2em auto 0;
}

section ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0em;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section form {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

input[type="text"], input[type="password"] {
  font-family: "Josefin Sans";
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  padding-bottom: 0.3em;
}
  
.signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.signup p{
  font-weight: 700;
  font-size: 1.2em;
}

.signin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  font-weight: 700;
  font-size: 0.9em;
}

.signin a {
  color: #DB5342;
}

/* || Headers */
header {
  position: fixed;
  width: 100%;
  height: 8em;
  box-shadow: 0 0 1em #D9D9D9;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  top: 0;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-left: 1em;
  overflow-x: auto
}

header ul li:first-of-type { 
  border-bottom: 2px solid #5EB2AC;
  width: 6em;
  padding: 0 1.5em 0.5em 1.5em;
  text-align: center;
}

header ul li:nth-child(2), header ul li:nth-child(3), header ul li:nth-child(4) {
  padding: 0 0 2.5em 2.5em ;
}

.header2 {
  position: fixed;
  width: 100%;
  height: 6em;
  box-shadow: 0 0 1em #D9D9D9;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.header2 ul {
  list-style-type: none;
  display: flex;
}

.header2 a {
  margin: -5.3em 0 0 1em;
}

.header3 ul li:first-of-type {
  width: 10em;
}

.header3 ul li:nth-child(2) {
  padding: 0 1.5em 0.5em 1.5em;
}

.header3 ul li a, .header5 ul li a {
  text-decoration: none;
  color: #000000;
}

.header4 h1 {
  text-align: left;
}

.header4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 3em 1em;
}

.header4 a {
  width: 10.5em;
  margin-top: 1.5em;
}

.header5 ul li:first-of-type {
  width: 10em;
  border-bottom: none;
}

.header5 ul li:nth-child(2) {
  border-bottom: 2px solid #5EB2AC;
  padding: 0 1.5em 0.5em 1.5em;
}

.header6 {
  height: 12em;
  background: url("img/ramenkingdom/ramenkingdom.png")
}

.header6 a {
  padding: 3.5em 0 0 1em;
}

/* || Nav */
nav ul {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.5em;
  box-shadow: 0 0 1em #D9D9D9;
  background-color: #ffffff;
  display: flex;
  z-index: 1;
}
  
nav ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 3em;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
}

/* || Headings */
h1 {
  font-weight: 700;
  color: #DB5342;
  text-align: center;
  margin-top: 1.7em;
}

span {
  color: #2B2D48;
}

h2 {
  font-size: 1em;
  padding-left: 1em;
  font-weight: 600;
}
h3 {
  font-size: 1.3em;
  font-weight: 600;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  padding: 1em 0 0 0;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  padding: 3em 0 0 1em;
}

h6 {
  font-size: 1em;
  font-weight: 600;
}

/* || Home and Favorites */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row a {
  font-size: 0.8em;
  text-decoration: none;
  color: #5EB2AC;
  padding-right: 1em;
}

.categories {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin: 0 0 1em 0;
  padding: 1em;
  text-align: center;
}

.categories figure {
  margin-right: 1.5em;
  font-size: 0.9em;
}

.categories figure img {
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.categories figure a {
  text-decoration: none;
  color: #000000;
}

.categories figure:last-of-type {
  padding-right: 1em;
}

article {
  padding-top: 10em;
  padding-bottom: 5em;
}

::-webkit-scrollbar {
  display: none;
}

/* || Search */
.searchbar {
  border: none;
}

.searchbar form {
  margin: 8em 1em 3em 1em;
  padding: 0.3em;
  text-align: left;
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 2em;
}

.searchbar form input[type="search"] {
  width: 21em;
  padding: 0.01em 0 0 1em;
  outline: none;
  border: none;
}

.searchbar form a {
  padding: 0.2em 0 0 1em;
}

.filter {
  max-width: 960px;
  margin: 0 auto;
  padding: 6% 2%;
}

.filter ul {
  margin-bottom: 5em;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.filter ul li {
  width: 9.9em;
  height: 9.9em;
  display: inline-block;
  margin: 1em 0.5em 0 0.5em;
  cursor: pointer;
  border-radius: 10px;
}

.filter ul li a{
  width: 100%;
  height: 100%; 
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.filter ul li:first-of-type {
  background: url("img/search/searchimg1.png")
}

.filter ul li:nth-child(2) {
  background: url("img/search/searchimg2.png")
}

.filter ul li:nth-child(3) {
  background: url("img/search/searchimg3.png")
}

.filter ul li:nth-child(4) {
  background: url("img/search/searchimg4.png")
}

.filter ul li:nth-child(5) {
  background: url("img/search/searchimg5.png")
}

.filter ul li:nth-child(6) {
  background: url("img/search/searchimg6.png")
}

.filter ul li:nth-child(7) {
  background: url("img/search/filterimg7.png")
}

.filter ul li:nth-child(8) {
  background: url("img/search/filterimg8.png")
}

/* || Chat */
.create {
  margin: 10em 2em 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create a, .trending ul li a, .header4 a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding: 0.9em 1.3em 0.7em 1.3em;
  border-radius: 3em;
  font-size: 0.7em;
}

.trending ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1em;
}

.trending  ul li {
  list-style: none;
  margin: 1em 0 0.6em 1em;
}

.trending ul li a:focus {
  background-color: #5EB2AC;
  border: 1px solid #5EB2AC;
  color: #ffffff;
}

.chatrooms a{
  text-decoration: none;
  color: #000000;
  margin: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D9D9D9;
  padding-top: 1em;
}

.chatrooms3 a{
  text-decoration: none;
  color: #000000;
  margin: 1em 1em 7em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D9D9D9;
  padding-top: 1em;
}

.chatrooms a img, .chatrooms3 a img {
  border-radius: 0.5em;
}

.groups p {
  font-size: 0.8em;
  opacity: 40%;
  margin: 0.5em 0 -0.5em 0;
}

/* || Groupchat */
.groupchat {
  margin: 10em 0 10em 1em;
}

.searchbar form input[type="search"] {
  width: 20em;
}

.grouptitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3.5em 1.5em 0.6em 1em;
  color: #DB5342;
}

.date {
  font-size: 0.7em;
  border: 1px solid #D9D9D9;
  border-radius: 2em;
  background-color: #D9D9D9;
  width: 14em;
  margin-left: 10em;
  padding: 0.8em 0.9em 0.7em 0.9em;
}

/* || Profile */
.profile {
  padding-top: 9em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile p{
  font-size: 1.4em;
  margin-top: 1em;
  font-weight: 600;
}

.profile img{
  border-radius: 2em;
}

.interest {
  padding: 3em 0 0.3em 0;
}

/* || DM */
.directmessages {
  margin: 10em 0 15em 1em;
}

/* || DM Overview */
.dm a{
  text-decoration: none;
  color: #000000;
  margin: 1em 1em 0 1em;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #D9D9D9;
  padding-top: 1em;
}

.dm img {
  border-radius: 1.3em;
}

.dmtime {
  display: flex;
  margin-left: 1em;
}

.dm h4 {
  padding: 0;
}

.dmtime h6 {
  font-size: 0.8em;
  opacity: 40%;
  padding-left: 6.2em;
}

.dm2 a{
  text-decoration: none;
  color: #000000;
  margin: 1em 1em 0 1em;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #D9D9D9;
  padding: 1em 0 6.5em 0;
}

.dm2 img {
  border-radius: 1.3em;
}

.dm2 h4 {
  padding: 0;
}

/* || Ramen Kingdom */
.ramenkingdom {
  padding: 9.5em 0 1.5em 1em;
  display: flex;
  justify-content: space-between;
}

.ramenkingdom h1{
  text-align: left;
  padding-bottom: 0.2em;
}

.heartshare {
  padding: 2.1em 1em 0 0;
}

.heartshare img:nth-child(2) {
  padding-left: 0.3em;
}

.ramentext {
  padding: 0 1em 0 1em;
  margin: 0;
  line-height: 1.4em;
}

.ramentext p {
  padding-bottom: 1.5em;
}

.ramentext img {
  padding-bottom: 6.5em;
}

